Repository itechub/Jane, pull requests merged in 2019-02, with the labels that each got.

#23 feature: #22 implement article related logic
  .gitlab-ci.yml
  backend/articles/admin.py
  backend/articles/filters.py
  backend/articles/migrations/0005_auto_20190126_1109.py
  backend/articles/migrations/0006_auto_20190127_1632.py
  backend/articles/migrations/0007_merge_20190128_1202.py
  backend/articles/models.py
  backend/articles/serializers.py
  backend/articles/urls.py
  backend/articles/views.py
  backend/config/settings.py
  backend/utils/common.py
Labels: backend, enhancement

#26 bugfix #25: copy yarn.lock before yarn install when docker-compose build
  deployment/nginx/Dockerfile
Labels: bug, deployment

#29 feature #27: loading screen
  frontend/config-overrides.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/NavBar/NavBar.less
  frontend/src/index.js
  frontend/src/layouts/Header.less
  frontend/yarn.lock
Labels: enhancement, frontend

#30 centralized route config
  frontend/src/App.js
  frontend/src/config.js
  frontend/src/routes/index.js
  frontend/src/routes/routes.js
Labels: enhancement, frontend
