Repository itechub/Jane, pull requests merged in 2019-01, with the labels that each got.

#2 Feature/customizing authentication
  README.md
  backend/README.md
  backend/accounts/__init__.py
  backend/accounts/admin.py
  backend/accounts/apps.py
  backend/accounts/backends.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/__init__.py
  backend/accounts/models.py
  backend/accounts/tests.py
  backend/accounts/views.py
  backend/config/settings.py
  backend/utils/__init__.py
Labels: backend, enhancement

#5 feat: import django rest framework and swagger for documentation
  backend/config/settings.py
  backend/config/urls.py
  backend/requirements/production.pip
Labels: backend, enhancement

#11 Deployment/backend docker
  .env_tmplate
  .gitignore
  README.md
  backend/config/settings.py
  backend/config/urls.py
  backend/config/wsgi.py
  backend/requirements/production.pip
  deployment/README.md
  deployment/django/Dockerfile
  deployment/django/docker-entrypoint.sh
  deployment/mysql/Dockerfile
  deployment/mysql/mysqld.cnf
  deployment/nginx/Dockerfile
  deployment/nginx/nginx.conf
  docker-compose.yaml
Labels: backend, deployment, enhancement

#14 deployment: #10 build react app docker image and docker-compose to ea…
  .dockerignore
  deployment/react/Dockerfile
  deployment/react/nginx.conf
  docker-compose.yaml
Labels: deployment, enhancement, frontend

#17 deployment/ci using gitlab runner
  .dockerignore
  .env_tmplate
  .gitignore
  .gitlab-ci.yml
  backend/config/settings.py
  deployment/django/Dockerfile
  deployment/nginx/Dockerfile
  deployment/nginx/nginx.conf
  deployment/react/Dockerfile
  deployment/react/nginx.conf
  docker-compose.yaml
  frontend/yarn.lock
Labels: deployment, enhancement

#21 feature #16 add article app and implement tag related logic
  backend/accounts/serializers.py
  backend/articles/__init__.py
  backend/articles/admin.py
  backend/articles/apps.py
  backend/articles/filters.py
  backend/articles/migrations/0001_initial.py
  backend/articles/migrations/0002_auto_20190125_1632.py
  backend/articles/migrations/0003_auto_20190125_1645.py
  backend/articles/migrations/0004_auto_20190125_1658.py
  backend/articles/migrations/0005_auto_20190127_1612.py
  backend/articles/migrations/__init__.py
  backend/articles/models.py
  backend/articles/serializers.py
  backend/articles/tests.py
  backend/articles/urls.py
  backend/articles/views.py
  backend/config/settings.py
  backend/config/urls.py
Labels: backend, enhancement

#24 feature #20: site-header
  frontend/package.json
  frontend/public/favicon.png
  frontend/public/index.html
  frontend/public/logo.png
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.less
  frontend/src/assets/logo.png
  frontend/src/components/MenuMarkup/MenuMarkup.js
  frontend/src/components/NavBar/NavBar.js
  frontend/src/components/NavBar/NavBar.less
  frontend/src/index.js
  frontend/src/index.less
  frontend/src/layouts/Footer.js
  frontend/src/layouts/Header.js
  frontend/src/layouts/Header.less
  frontend/src/pages/Home.js
  frontend/yarn.lock
Labels: enhancement, frontend
